SERVER_PORT=8088
DB_URL=jdbc:h2:file:/var/www/bingo/data/bingo;MODE=MySQL;NON_KEYWORDS=USER
DB_USERNAME=sa
DB_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.h2.Driver
JWT_SECRET=replace-with-at-least-32-random-characters
JWT_EXPIRATION_MINUTES=480
FRONTEND_URL=https://geourp.org/bingo
PUBLIC_URL=https://geourp.org/bingo-api
